.preset-card {
  border: 1px solid rgba(0,0,0,.125);
  margin: 10px;
  border-radius: 10px;
}

.preset-card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid rgba(0,0,0,.125);
  margin:auto;
  padding: initial;
}

.preset-features-header {
  margin: 10px;
}

.preset-accordion-button-container {
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.preset-accordion-button {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,.125);
}

.preset-accordion-button:hover {
  border-color: rgba(0,0,0,.2);
}

.preset-accordion-button:active {
  transform: translate(0,3px);
}

.preset-accordion-button i {
  font-size: 20px;
}

.preset-card-panel {
  max-height: 0;
}

.features-button {
  font-size: 20px;
}

.card-closed {
  overflow: hidden;
}