<div class="content-group">
  <div class="content-header">
    <label class="content-label feature-label">
      <h5>Disabled Features</h5>
    </label>
  </div>
  <div class="content-body disabled-features-body">
    <ng-container [formGroup]="attribution.form">
      <ng-container formArrayName="disabledFeatures">
        <table class="table table-bordered feature-table">
          <thead class="feature-table-thead">
            <tr class="feature-table-head-row">
              <th class="feature-table-main feature-table-th" scope="col">Key</th>
              <th class="feature-table-main feature-table-th" scope="col">Value</th>
              <th class="feature-table-delete feature-table-th" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let disabledFeature of attribution.disabledFeatures.controls; let disabledFeatureIndex=index">
              <tr class="feature-table-body-row" >
                <td class="feature-table-main feature-table-td">
                  <ng-container discouraged-feature field="key" [group]="attribution.form" [nestedGroupIndex]="disabledFeatureIndex">
                  </ng-container>
                </td>
                <td class="feature-table-main feature-table-td">
                  <ng-container *ngIf="attribution.disabledFeatures.at(disabledFeatureIndex).get('key') &&
                                attribution.disabledFeatures.at(disabledFeatureIndex).get('key').value && attribution.disabledFeatures.at(disabledFeatureIndex).get('val')">
                    <ng-container discouraged-feature field="val" [group]="attribution.form" [nestedGroupIndex]="disabledFeatureIndex">
                    </ng-container>
                  </ng-container>
                </td>
                <td class="feature-table-delete feature-table-td">
                  <button class="btn btn-sm btn-light feature-button feature-table-delete-button"
                   type="button" (click)="removeDisabledFeature(i)">
                    <i class="fa fa-times"> </i>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="feature-inner-body feature-add">
          <div class='feature-button-container'>
            <div class="d-flex flex-row-reverse">
              <button class="btn btn-light feature-button feature-button-round" type="button" (click)="addDiscouragedFeature()"
                data-toggle="tooltip" data-placement="bottom" title="{{ config.hint }}">
                <i class="fa fa-plus"> </i> Add Disabled Feature
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>