<ng-container class="feature-card" [formGroup]="attribution.form">
  <ng-container formArrayName="presets">
    <ng-container [formGroupName]="i">
      <div class="row">
        <div class="col-md-12">
          <div class="feature-group">
            <div class="content-group">
              <div class='feature-header'>
                <label class="content-label feature-label">
                  <h5>Identifying Tags</h5>
                </label>
              </div>
              <div class="content-body feature-body">
                <table class="table table-bordered feature-table">
                  <thead class="feature-table-thead">
                    <tr class="feature-table-head-row">
                      <th class="feature-table-main feature-table-th" scope="col">key</th>
                      <th class="feature-table-main feature-table-th" scope="col">value</th>
                      <th class="feature-table-delete feature-table-th" scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container formArrayName="primary">
                      <ng-container *ngFor="let primaryGroup of primaryFormArray.controls; let primaryGroupIndex=index">
                        <ng-container [formGroupName]="primaryGroupIndex">
                          <tr class="feature-table-body-row">
                            <td class="feature-table-main feature-table-td">
                              <ng-container attribution field="key" [group]="attribution.form" [nestedGroupIndex]="i"
                                [nestedArrayIndex]="primaryGroupIndex">
                              </ng-container>
                            </td>
                            <td class="feature-table-main feature-table-td">
                              <ng-container *ngIf="primaryFormArray.at(primaryGroupIndex).controls.key && primaryFormArray.at(primaryGroupIndex).controls.key.value && primaryFormArray.at(primaryGroupIndex).controls.val">
                                <ng-container primary-identifier field="val" [group]="attribution.form"
                                  [nestedGroupIndex]="i" [nestedArrayIndex]="primaryGroupIndex">
                                </ng-container>
                              </ng-container>
                            </td>
                            <td class="feature-table-delete feature-table-td">
                              <button class="btn btn-sm btn-light feature-button feature-table-delete-button"
                                type="button" (click)="removePrimaryGroup(primaryGroupIndex)">
                                <i class="fa fa-times"> </i>
                              </button>
                            </td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </table>
                <div class="d-flex flex-row-reverse feature-add">
                  <button class="btn btn-sm btn-light feature-button feature-button-round" type="button" (click)="addPrimaryGroup(i, null)"
                    data-toggle="tooltip" data-placement="bottom" title="Add primary tag for preset">
                    <i class="fa fa-plus"></i> Add Identifying Tag
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group feature-group feature-geometry">
            <div class="feature-group">
              <div class="content-group">
                <div class="feature-header">
                  <label class="content-label feature-label">
                    <h5>Geometry</h5>
                  </label>
                </div>
                <div class="content-body">
                  <ng-container feature field="geometry" [group]="attribution.form" [nestedGroupIndex]="i">
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="feature-group">
            <div class="content-group">
              <div class="content-header feature-header">
                <label class="content-label feature-label">
                  <h5>Fields</h5>
                </label>
              </div>
              <div class="content-body feature-body">
                <table class="table table-bordered feature-table">
                  <thead class="feature-table-thead">
                    <tr>
                      <th class="feature-table-main feature-table-th field-table-main" scope="col">Key Condition</th>
                      <th class="feature-table-main feature-table-th field-table-main" scope="col">Key</th>
                      <th class="feature-table-main feature-table-th field-table-main" scope="col">Value Condition</th>
                      <th class="feature-table-main feature-table-th field-table-main" scope="col">Value(s)</th>
                      <!-- <th class="feature-table-main feature-table-th field-table-main" scope="col">Label</th>
                      <th class="feature-table-main feature-table-th field-table-main" scope="col">Placeholder</th> -->
                      <th class="feature-table-delete feature-table-th" scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container formArrayName="fields">
                      <ng-container *ngFor="let field of fields.controls; let fieldIndex=index">
                        <ng-container [formGroupName]="fieldIndex">
                          <tr class="feature-table-body-row">
                            <td class="feature-table-main feature-table-td field-table-main">
                              <ng-container guideline field="keyCondition" [group]="attribution.form"
                                [nestedGroupIndex]="i" [nestedArrayIndex]="fieldIndex">
                              </ng-container>
                            </td>
                            <td class="feature-table-main feature-table-td field-table-main">
                              <ng-container guideline field="key" [group]="attribution.form" [nestedGroupIndex]="i"
                                [nestedArrayIndex]="fieldIndex">
                              </ng-container>
                            </td>
                            <td class="feature-table-main feature-table-td field-table-main">
                              <ng-container guideline field="valCondition" [group]="attribution.form"
                                [nestedGroupIndex]="i" [nestedArrayIndex]="fieldIndex">
                              </ng-container>
                            </td>
                            <td class="feature-table-main feature-table-td field-table-main">
                              <ng-container guideline field="values" [group]="attribution.form" [nestedGroupIndex]="i"
                                [nestedArrayIndex]="fieldIndex">
                              </ng-container>
                            </td>
                            <!-- <td class="feature-table-main feature-table-td field-table-main">
                              <ng-container guideline field="label" [group]="attribution.form" [nestedGroupIndex]="i"
                                [nestedArrayIndex]="fieldIndex">
                              </ng-container>
                            </td>
                            <td class="feature-table-main feature-table-td field-table-main">
                              <ng-container guideline field="placeholder" [group]="attribution.form" [nestedGroupIndex]="i"
                                [nestedArrayIndex]="fieldIndex">
                              </ng-container>
                            </td> -->
                            <td class="feature-table-delete feature-table-td">
                              <button class="btn btn-sm btn-light feature-button feature-button feature-table-delete-button"
                                type="button" (click)="removeField(fieldIndex)">
                                <i class="fa fa-times"> </i>
                              </button>
                            </td>
                          </tr>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </tbody>
                </table>
                <div class="d-flex flex-row-reverse feature-add">
                  <div class='feature-button-container'>
                    <button class="btn btn-sm btn-light feature-button feature-button-round" type="button" (click)="addGuideline(i, null)"
                      data-toggle="tooltip" data-placement="bottom" title="Add field for preset">
                      <i class="fa fa-plus"></i> Add Field
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>