.attribution-container {
    display: flex;
    justify-content: center
}

.attribution-form {
    max-width: 1000px;
    margin: 50px;
}

.feature-label h5 {
    font-size: 20px;
}

.feature-header {
    margin: 0;
}

.feature-table-thead {
    border-top: none;
}

.feature-table {
    border-collapse: inherit;
    border-spacing: 10px;
    border-radius: 10px
}

.feature-table-th {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 15px;
}

.feature-table-td {
    border: none;
    border-spacing: 5px;
    vertical-align: middle;
}


.feature-table-main {
    width: 49%;
}

.feature-table-delete {
    width: 2%;
    border-bottom: none;
}

.feature-table-delete-button {
    margin-top: 4px;
}

.feature-table-th {
    padding: .4rem
}

.feature-table-td {
    padding: 0 .2rem;
}

.primary-td {
    margin: initial;
}

.feature-geometry {
    width: 350px;
}

.feature-button {
    border: 1px solid rgba(0,0,0,.125);
    font-size: 15px;
}

.feature-button-round {
    border-radius: 10px;
}

.feature-button:active {
    transform: translate(0,3px);
}

.feature-add {
    margin-top: 5px;
}

.feature-button-thin {
    border: 1px solid rgba(0,0,0,.125);
}

.field-table-main {
    width: 15%;
}