<ng-container *ngIf="maprule">
	<div class="row">
		<div class="col-lg-12">
			<div class="content-header">
				<label class="content-label">
					<h5>{{maprule.name}}</h5>
				</label>
			</div>
		</div>
		<div class="col-md-12">
			<ng-container *ngFor="let preset of maprule.presets; let i = index">
				<div class="view-card">
					<div class="content-header view-header">
						<label class="content-label view-label">
							<h5>{{preset.name}}</h5>
						</label>
					</div>
					<div class="content-body view-panel d-flex flex-column">
						<div class="view-panel-content">
							<div class="view-panel-header">
								<label class="view-label">
									<h5>Geometry</h5>
								</label>
							</div>
							<div class="view-panel-content">
								<ng-container *ngFor="let geometry of preset.geometry">
									<div class="view-panel-content view-panel-pill-group d-inline-flex">
										<div [ngSwitch]="geometry" class="view-panel-pill-geometry">
											<app-area *ngSwitchCase="'area'"></app-area>
											<app-node *ngSwitchCase="'node'"></app-node>
											<app-way *ngSwitchCase="'way'"></app-way>
											<app-area *ngSwitchCase="'closedway'"></app-area>
										</div>
										<div class="view-panel-pill">{{ geometry }}</div>
									</div>
								</ng-container>
							</div>
						</div>
						<div class="view-panel-content">
							<div class="view-panel-header">
								<label class="view-label">
									<h5>Identifying Tags</h5>
								</label>
							</div>
							<div class="view-panel-content d-flex align-items-start flex-column bd-highlight mb-3">
								<ng-container *ngFor="let primary of preset.primary">
									<div class="view-panel-content view-panel-pill-group identifying-tags-group">
										<div class="view-panel-pill">{{primary.key}}</div>
										<div class="view-panel-pill view-panel-pill-separator">=</div>
										<div class="view-panel-pill identifying-val">{{primary.val}}</div>
									</div>
								</ng-container>
							</div>
						</div>
						<ng-container *ngIf="getTagsByKeyCondition(i, 1); let requiredTags">
							<ng-container *ngIf="requiredTags.length">
								<div class="view-panel-content">
									<div class="view-panel-header">
										<label class="view-label">
											<h5>Required Tags</h5>
										</label>
									</div>
									<div class="view-panel-content  d-flex align-items-start flex-column bd-highlight mb-3">
										<ng-container *ngFor="let requiredTag of requiredTags">
											<app-tags [config]="requiredTag"></app-tags>
										</ng-container>
									</div>
								</div>
							</ng-container>
						</ng-container>
						<ng-container *ngIf="getTagsByKeyCondition(i, 2); let suggestedTags">
							<ng-container *ngIf="suggestedTags.length">
								<div class="view-panel-content">
									<div class="view-panel-header">
										<label class="view-label">
											<h5>Suggested Tags</h5>
										</label>
									</div>
									<div class="view-panel-content  d-flex align-items-start flex-column bd-highlight mb-3">
										<ng-container *ngFor="let suggestedTag of suggestedTags">
											<app-tags [config]="suggestedTag"></app-tags>
										</ng-container>
									</div>
								</div>
							</ng-container>
						</ng-container>
						<ng-container *ngIf="getTagsByKeyCondition(i, 0); let disabledTags">
							<ng-container *ngIf="disabledTags.length">
								<div class="view-panel-content">
									<div class="view-panel-header">
										<label class="view-label">
											<h5>Disallowed Tags</h5>
										</label>
									</div>
									<div class="view-panel-content  d-flex align-items-start flex-column bd-highlight mb-3">
										<ng-container *ngFor="let disabledTag of disabledTags">
											<div class="view-panel-pill-group">
												<div class="view-panel-pill">
													<span class="badge badge-pill badge-condition badge-must-not">
														must not have
													</span>
												</div>
												<div class="view-panel-pill">
													{{disabledTag.key}}
												</div>
											</div>
										</ng-container>
									</div>
								</div>
							</ng-container>
						</ng-container>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</ng-container>