.view-card {
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.125);
    overflow: hidden;
}

.view-header {
    background: #f8f9fa;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.view-label {
    margin: 10px;
    margin-bottom: auto;
}

.view-label h5 {
    font-size: 20px;
}

.view-panel-content {
    margin: 10px;
}

.view-panel-pill-group {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    background: #f8f9fa;
    display: inline-block;
    margin-top: 10px;
}

.view-panel-pill {
    padding: 8px;
}

.badge-must {
    background: rgba(42, 212, 0, 0.267);
}

.badge-must-not {
    background: rgba(255, 0, 0, 0.267);
}

.badge-condition {
    font-size: initial;
}

.view-pill-tag {
    margin: auto;
    background: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    padding: 2px 5px;
    margin-left: 5px;
}

.clear-button {
    border: none;
    background: none;
}

.view-pill-tooltip-control:hover {
    background: #f8f9faa9;
}

.view-pill-tooltip {
    color: black;
    border: 1px solid rgba(0,0,0,.4);
    margin:auto;
    margin-top: 2px;
}

.view-tooltip .tooltip-inner {
    background: #ebebeb;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.view-tooltip .arrow::before {
    border: none; 
}
