<ng-container *ngIf="maprule">
	<div class="row">
		<div class="content-group col-lg-12">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="content-label content-inner-content">
							<h5>{{maprule.name}}</h5>
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ng-container *ngFor="let preset of maprule.presets; let i=index">
						<div class="content-group">
							<div class="content-header">
								<h6>{{preset.name}}</h6>
							</div>
							<div class="container content-body">
								<div class="row">
									<div class="col-md-9">
										<div class="container">
											<div class="row">
												<div class="form-group col-sm-9">
													<div class="container">
														<div>
															<label>Identifying Tags</label>
														</div>
														<div class="row">
															<div class="col-md-8 view-primary-tags-container">
																<ng-container *ngFor="let primary of preset.primary">
																	<div class="row view-primary-tag">
																		<div class="col-sm-6 view-primary-key">
																			{{primary.key}}
																		</div>
																		<div class="col-sm-6">
																			{{primary.val}}
																		</div>
																	</div>
																</ng-container>
															</div>
														</div>
													</div>
												</div>
												<ng-container *ngIf="getTagsByKeyCondition(i, 1); let requiredTags">
													<ng-container *ngIf="requiredTags.length > 0">
														<div class="form-group col-md-12">
															<div class="container">
																<div>
																	<label>Required Fields</label>
																</div>
																<div class="row">
																	<div class="col-md-12">
																		<div class="container view-required-fields">
																			<ng-container *ngFor="let requiredTag of requiredTags">
																				<div class="row required-field-container">
																					<div class="col-sm-4 required-field-key required-field-cell">
																						{{requiredTag.key}}
																					</div>
																					<ng-container *ngIf="requiredTag.values.length > 0">
																						<ng-container *ngIf="requiredTag.values[0].valCondition === 0">
																							<div class="col-sm-4 required-field-condition required-field-cell field-must-not-be">
																								must not be
																							</div>
																						</ng-container>
																						<ng-container *ngIf="requiredTag.values[0].valCondition === 1">
																							<div class="col-sm-4 required-field-condition required-field-cell field-must-be">
																								must be
																							</div>
																						</ng-container>
																						<ng-container *ngIf="requiredTag.values[0].valCondition === 2">
																							<div class="col-sm-4 required-field-condition required-field-cell field-may-be">
																								may be
																							</div>
																						</ng-container>
																						<ng-container *ngIf="requiredTag.values[0].valCondition === 3">
																							<div class="col-sm-4 required-field-condition required-field-cell">
																								less than</div>
																						</ng-container>
																						<ng-container *ngIf="requiredTag.values[0].valCondition === 4">
																							<div class="col-sm-4 required-field-condition required-field-cell">
																								less than or equal</div>
																						</ng-container>
																						<ng-container *ngIf="requiredTag.values[0].valCondition === 5">
																							<div class="col-sm-4 required-field-condition required-field-cell">
																								greater than</div>
																						</ng-container>
																						<ng-container *ngIf="requiredTag.values[0].valCondition === 6">
																							<div class="col-sm-4 required-field-condition required-field-cell">
																								greater than or equal
																							</div>
																						</ng-container>
																						<div class="col-sm-4 required-field-values required-field-cell required-field-cell-last">
																							<div class="container">
																								<div class="row">
																									<ng-container *ngFor="let val of requiredTag.values[0].values; let valIndex= index">
																										<div class="field-value-pill">
																											{{val}}
																										</div>
																									</ng-container>
																								</div>
																							</div>
																						</div>
																					</ng-container>
																					<!-- <ng-container *ngIf="requiredTags.values.length === 0">
																							<div class="col-sm-4 required-field-condition required-field-cell required-field-key">
																								{{requiredTag.key}}
																							</div>
																							<div class="col-sm-4 required-field-condition required-field-cell">
																								=
																							</div>
																							<div class="col-sm-4 required-field-condition required-field-cell">
																								*
																							</div>
																					</ng-container> -->
																				</div>
																			</ng-container>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</ng-container>
												</ng-container>
												<ng-container *ngIf="getTagsByKeyCondition(i, 2); let suggestedTags">
													<ng-container *ngIf="suggestedTags.length > 0">
														<div class="form-group col-md-12">
															<div class="container">
																<div>
																	<label>Suggested Fields</label>
																</div>
																<div class="row">
																	<div class="col-md-12">
																		<div class="container view-required-fields">
																			<ng-container *ngFor="let suggestedTag of suggestedTags">
																				<div class="row required-field-container">
																					<div class="col-sm-4 required-field-key required-field-cell">
																						{{suggestedTag.key}}
																					</div>
																					<ng-container *ngIf="suggestedTag.values.length > 0">
																						<ng-container *ngIf="suggestedTag.values[0].valCondition === 0">
																							<div class="col-sm-4 required-field-condition required-field-cell field-must-not-be">
																								must not be
																							</div>
																						</ng-container>
																						<ng-container *ngIf="suggestedTag.values[0].valCondition === 1">
																							<div class="col-sm-4 required-field-condition required-field-cell field-must-be">
																								must be
																							</div>
																						</ng-container>
																						<ng-container *ngIf="suggestedTag.values[0].valCondition === 2">
																							<div class="col-sm-4 required-field-condition required-field-cell field-may-be">
																								may be
																							</div>
																						</ng-container>
																						<ng-container *ngIf="suggestedTag.values[0].valCondition === 3">
																							<div class="col-sm-4 required-field-condition required-field-cell">
																								less than</div>
																						</ng-container>
																						<ng-container *ngIf="suggestedTag.values[0].valCondition === 4">
																							<div class="col-sm-4 required-field-condition required-field-cell">
																								less than or equal</div>
																						</ng-container>
																						<ng-container *ngIf="suggestedTag.values[0].valCondition === 5">
																							<div class="col-sm-4 required-field-condition required-field-cell">
																								greater than</div>
																						</ng-container>
																						<ng-container *ngIf="suggestedTag.values[0].valCondition === 6">
																							<div class="col-sm-4 required-field-condition required-field-cell">
																								greater than or equal
																							</div>
																						</ng-container>
																						<div class="col-sm-4 required-field-values required-field-cell required-field-cell-last">
																							<div class="container">
																								<div class="row">
																									<ng-container *ngFor="let val of suggestedTag.values[0].values; let valIndex= index">
																										<div class="field-value-pill">
																											{{val}}
																										</div>
																									</ng-container>
																								</div>
																							</div>
																						</div>
																					</ng-container>
																				</div>
																			</ng-container>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</ng-container>
												</ng-container>
												<ng-container *ngIf="getTagsByKeyCondition(i, 0); let doNotTags">
													<ng-container *ngIf="doNotTags.length > 0">
														<div class="form-group col-md-12">
															<div class="container">
																<div>
																	<labeL>Disabled Featuers</labeL>
																</div>
																<div class="row">
																	<div class="col-md-7">
																		<div class="container view-required-fields">
																			<ng-container *ngFor="let doNotTag of doNotTags">
																				<div class="row required-field-container">
																					<div class="col-sm-4 required-field-key required-field-cell">
																						{{requiredTag.key}}
																					</div>
																				</div>
																			</ng-container>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</ng-container>
												</ng-container>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="container">
											<div>
												<div>
													<label>Geometry</label>
												</div>
												<div class="row">
													<div class="col-md-12">
														<ng-container *ngFor="let geometry of preset.geometry">
															<div class="row">
																<div class="col-md-12">
																	<ng-container [ngSwitch]="geometry" class="container">
																		<div *ngSwitchCase="'node'" class="row">
																			<div class="col-sm-6">
																				<app-node></app-node>
																			</div>
																			<div class="col-sm-6">
																				<label>node</label>
																			</div>
																		</div>
																		<div *ngSwitchCase="'way'" class="row">
																			<div class="col-sm-6">
																				<app-way></app-way>
																			</div>
																			<div class="col-sm-6">
																				<label>way</label>
																			</div>
																		</div>
																		<div *ngSwitchCase="'area'" class="row">
																			<div class="col-sm-6">
																				<app-area></app-area>
																			</div>
																			<div class="col-sm-6">
																				<label>area</label>
																			</div>
																		</div>
																		<div *ngSwitchCase="'closedway'" class="row">
																			<div class="col-sm-6">
																				<app-area></app-area>
																			</div>
																			<div class="col-sm-6">
																				<label>closedway</label>
																			</div>
																		</div>
																	</ng-container>
																</div>
															</div>
														</ng-container>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</ng-container>
<!--
							<ng-container *ngIf="getTagsByKeyCondition(i, 0); let doNotTags">
								<label *ngIf="doNotTags.length > 0">Do Not Add Tags</label>
								<ul>
									<ng-container *ngFor="let doNotTag of doNotTags">
										<li>
											{{doNotTag.key}}
											<span *ngIf="doNotTag.label">
												({{doNotTag.label}})  
											</span>
										</li>
									</ng-container>
								</ul>
							</ng-container>
						</div>
					</div>
		</ng-container>
		<div class="form-group">
	  	  <label class="col-form-label" *ngIf="maprule.disabledFeatures.length > 0">Do Not Map the Following Entities</label>
		  <ul>
			<ng-container *ngFor="let discouragedEntity of maprule.disabledFeatures">
			  <li> {{discouragedEntity.key}} {{discouragedEntity.val ?  "- " + discouragedEntity.val : "" }} </li>
			</ng-container>
		  </ul>
		</div>
	  </div> -->
<!-- </div>
</ng-container> -->