.view-card {
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.125);
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
    max-width: 800px;
    /* text-align: center; */
}

.view-header {
    background: #f8f9fa;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: initial;
}

.view-label {
    margin: 10px;
    margin-bottom: auto;
}

.view-label h5 {
    font-size: 30px;
}

.preset-accordion-button-container {
    margin: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.preset-accordion-button {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.125);
}

.preset-accordion-button:hover {
    border-color: rgba(0,0,0,.2);
}

.preset-accordion-button:active {
    transform: translate(0,3px);
}

.preset-accordion-button i {
    font-size: 20px;
}

.view-panel-content {
    margin: auto;
    margin-left: 5px;
    margin-right: 2px;
}

.view-pill-group-container {
    display: inline-block;
}

.view-panel-pill-group {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    background: #f8f9fa;
    display: inline-block;
    overflow: auto;
}

.identifying-tags-group {
    margin-bottom: 5px;
}

.view-panel-pill {
    padding: 8px;
    margin: 0 2px;
    display: inline-block;
    font-size: 20px;
}

.view-panel-pill-geometry {
    background-size:40px 40px;
    max-width: 40px;
    min-width: 40px;
    height: 0;
    padding: 0;
    padding-bottom: 40px;
}

.badge-must {
    background: rgba(42, 212, 0, 0.267);
}

.badge-may {
    background: rgba(231, 211, 35, 0.466);
}

.badge-must-not {
    background: rgba(255, 0, 0, 0.267);
}

.badge-condition {
    font-size: initial;
}

.disabled-features-pills-container {
    margin-top: 8px;
    margin-bottom: 8px;
}

.disabled-features-pills {
    margin-top: 5px;
    margin-bottom: 5px;
}

.star-pill {
    width: 40px;
    text-align: center;
}


/* media queries */
@media (max-width: 650px) {
    .view-panel-pill {
        font-size: 14px;
    }
    .badge-condition {
        font-size: 14px;
    }
}
@media (max-width: 420px) {
    .view-panel-pill {
        font-size: 12px;
    }
    .badge-condition {
        font-size: 12px;
    }
}