<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 maprules-main maprules-banner">
        <h3>MapRules</h3>
        <p>Custom Tagging Presets and Validation Rules for OpenStreetMap</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 offset-lg-4 maprules-main">
        <button class="btn btn-default maprules-button" routerLink="/new">Create Instructions</button>
        <button class="btn btn-default maprules-button" routerLink="/explore">See Existing</button>
      </div>
    </div>
  </div>
</div>