* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 6vh;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.navbar-brand {
    margin: 0 15px;
}

.app {
    overflow-x: hidden;
}