<div class="combo-container" >
  <div class="combo-input-container">
    <input
      type="text"
      class="combo-input"
      [value]="sortText"
      (keyup)="onKeyDownAction($event)"
      (focus)="onFocusEventAction($event)"  
      (blur)="onBlurEventAction($event)" >
    <button class="combo-drop-down-button"
      (click)="toggleDropDown()" >
      <i class="fa fa-angle-down"></i>
    </button>
  </div>
  <div 
    class="data-container" 
    *ngIf="showDropDown" 
    >
    <p *ngFor="let data of dummyDataList; let i=index;"
      class="data-list"
      (click)="selectDropdown($event)"
      [ngClass]="{highlight:checkHighlight(i)}">
      {{data.name}}
    </p>
  </div>
</div>