<div class="combo-container">
  <div
    [ngClass]="{ 'combo-open': showDropDown }"
    class="combo-content-container">
    <div class="combo-cards-container">
      <ng-container *ngIf="comboValues.length > 0">
        <div
          *ngFor="let comboValue of comboValues; let valueIndex=index;"
          class="combo-card" >
          <span>{{ comboValues[valueIndex] }}</span>
          <i class="fa fa-times" (click)="removeComboVal(valueIndex)"></i>
        </div>
      </ng-container>
      <div class="combo-input-container"
        [ngClass]="{ 'hidden': comboValues.length === _maxElements }">
        <input
          #comboInput
          type="text"
          class="combo-input"
          placeholder="Add..."
          [value]="sortText"
          (keyup)="onKeyDownAction($event)"
          (focus)="onFocusEventAction($event)"
          (blur)="onBlurEventAction($event)" />
      </div>
    </div>
    <button class="combo-drop-down-button" (click)="toggleDropDown()">
      <i class="fa fa-angle-down"></i>
    </button>
  </div>
  <div class="combo-data-container" *ngIf="showDropDown">
    <p *ngFor="let data of dummyDataList; let i=index;" class="data-list" (click)="selectDropdown($event)"
      [ngClass]="{ highlight: checkHighlight(i) }">
      {{data.name}}
    </p>
  </div>
</div>