.preset-card {
  border: 1px solid rgba(0,0,0,.125);
  margin: 10px;
  border-radius: 10px;
}

.preset-card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  background-color: #f8f9fa;
  border-bottom: 1px solid rgba(0,0,0,.125);
  margin:auto;
  padding: initial;
}

.preset-features-header {
  margin: 10px;
}

.preset-accordion-button-container {
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.preset-accordion-button {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,.125);
}

.preset-accordion-button:hover {
  border-color: rgba(0,0,0,.2);
}

.preset-accordion-button:active {
  transform: translate(0,3px);
}

.preset-accordion-button i {
  font-size: 20px;
}

.features-button {
  font-size: 20px;
}

.card-closed {
  overflow: hidden;
}

.table-row,
.wrapper {
  display: flex;
  flex-direction: row;
}

.table-row {
  flex-wrap: nowrap;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-collapse: collapse;
  padding-top: 5px;
  border-left: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
}

.table-row.header {
  background: rgba(193, 201, 218, .2);
  border-top: 1px solid rgba(0,0,0,.125);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.table-row.content {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wrapper {
  flex-grow: 0;
}

.text-4, .text-2, .text {
  flex-grow: 1;
}

.text {
  width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}

@media all and (max-width: 1025px) {
  .table-row {
    flex-direction: column;
  }
  .table-row div {
    flex-grow: 0;
    width: 100%;
  }
  .text-4 {
    width: 180px;
    flex-direction: column;
  }

  .text-4 div {
    flex-grow: 0;
    width: 100%;
  }
}