<div class="preset-container" [formGroup]="editMapRule.form">
  <div formArrayName="presets">
    <ng-container *ngFor="let preset of editMapRule.form.controls.presets.controls; let presetIndex=index">
      <div class="preset-card" [formGroupName]="presetIndex">
        <div class="preset-card-header preset-card-panel-header-hidden">
          <input
            placeholder="{{ 'Preset ' + (presetIndex + 1) }}"
            class="form-input"
            formControlName="presetName" />
          <div>
            <button class="preset-button" id="show-preset-button" (click)="showPresetPanel(presetIndex)">
              <i class="fa fa-plus-square-o"></i>
            </button>
            <button class="preset-button" id="remove-preset-button" (click)="removePreset(presetIndex)">
              <i class="fa fa-trash-o"></i>
            </button>
          </div>
        </div>
        <div #preset class="preset-card-panel preset-card-panel-hidden">
          <div class="content-group">
            <div class="feature-header">
              <label class="content-label">
                <h5>Identifying Tags</h5>
              </label>
            </div>
            <div class="content-body feature-body">
              <div class="table-container"
                formArrayName="primary"
                *ngIf="primaryFormArray(presetIndex).length > 0">
              <div class="table-row header">
                <div class="wrapper text-4">
                  <div class="wrapper text-2">
                    <div class="text">Key</div>
                    <div class="text">Value</div>
                    <div class="text text-button"></div>
                  </div>
                </div>
              </div>
                <div class="table-row content"
                  *ngFor="let primary of primaryFormArray(presetIndex).controls; let primaryIndex=index"
                  [formGroupName]="primaryIndex">
                  <div class="wrapper text-2">
                    <div class="text">
                      <app-combobox
                        [maxElements]="1"
                        [comboIndex]="presetIndex + ':' + primaryIndex"
                        formControlName="primaryKey">
                      </app-combobox>
                    </div>
                    <div class="text">
                      <app-combobox
                        [maxElements]="1"
                        [comboIndex]="presetIndex + ':' + primaryIndex"
                        formControlName="primaryVal">
                      </app-combobox>
                    </div>
                    <div class="text text-button">
                      <button class="preset-button"
                        type="button" (click)="removePrimaryGroup(presetIndex, primaryIndex)">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button
                class="preset-button add-button"
                (click)="addPrimaryGroup(presetIndex)">
                <i class="fa fa-plus"></i> Add Identifying Tag
              </button>
            </div>
          </div>
          <div class="content-group">
            <div class="feature-header">
              <label class="content-label feature-label">
                <h5>Geometry</h5>
              </label>
            </div>
            <div class="content-body feature-body">
              <label formArrayName='geometry'
                *ngFor="let geometry of geometryArray(presetIndex).controls; let geometryIndex=index">
                <input type="checkbox" [formControlName]='geometryIndex'>
                {{ geometry.value }}
              </label>
            </div>
          </div>
          <div class="content-group">
            <div class="content-header feature-header">
              <label class="content-label feature-label">
                <h5>Fields</h5>
              </label>
            </div>
            <div class="content-body">
              <div class="table-container"
                formArrayName="fields"
                *ngIf="fieldsFormArray(presetIndex).length > 0">
              <div class="table-row header">
                <div class="wrapper text-4">
                  <div class="wrapper text-2">
                    <div class="text">Key Condition</div>
                    <div class="text">Key</div>
                  </div>
                </div>
                <div class="wrapper text-4">
                  <div class="wrapper text-2">
                    <div class="text">Value Condition</div>
                    <div class="text">Value(s)</div>
                    <div class="text text-button"></div>
                  </div>
                </div>
              </div>
                <div class="table-row content"
                  *ngFor="let fields of fieldsFormArray(presetIndex).controls; let fieldIndex=index"
                  [formGroupName]="fieldIndex">
                  <div class="wrapper text-4">
                    <div class="wrapper text-2">
                      <div class="text">
                        <app-combobox
                          [maxElements]="1"
                          [comboIndex]="presetIndex + ':' + fieldIndex"
                          formControlName="fieldKeyCondition">
                        </app-combobox>
                      </div>
                      <div class="text">
                        <app-combobox
                          [maxElements]="1"
                          [comboIndex]="presetIndex + ':' + fieldIndex"
                          formControlName="fieldKey">
                        </app-combobox>
                      </div>
                    </div>
                  </div>
                  <div class="wrapper text-2">
                    <div class="text">
                      <app-combobox
                        [maxElements]="1"
                        [comboIndex]="presetIndex + ':' + fieldIndex"
                        formControlName="fieldValCondition">
                      </app-combobox>
                    </div>
                    <div class="text text-last">
                      <app-combobox
                        [comboIndex]="presetIndex + ':' + fieldIndex"
                        formControlName="fieldVal">
                      </app-combobox>
                    </div>
                    <div class="text text-button">
                      <button
                        class="preset-button"
                        type="button" (click)="removeField(presetIndex, fieldIndex)">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <!-- <div class="wrapper text-2 text-button">
                  </div> -->
                </div>
              </div>
              <button type="button" class="preset-button add-button"
                [ngClass]="{ 'empty-form-array': fieldsFormArray(presetIndex).controls.length === 0 }"
                type="button" (click)="addField(presetIndex)">
                <i class="fa fa-plus"></i> Add Field
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <button type="button" class="preset-button add-button" id="add-preset-button"
    (click)="addPreset();" data-toggle="tooltip" data-placement="bottom" title="sdf">
    <i class="fa fa-plus"> </i> Add Preset
  </button>
</div>