.content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto;
}

.content-row {
    margin: auto;
    align-items: start;
    flex-grow: 1;
    max-width: 800px;
    /* width: 200px; */
    /* min-width: 0; */
    /* overflow: hidden; */
}

.content-group-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-body {
    width: 100%;
}

.content-group {
    margin: 20px;
}

.content-header {
    margin: 10px;
    display: flex;
}

.content-header,
.maprule-name-container div {
    align-self: start;
}

.content-header * {
    justify-content: start;
}

.content-label {
    margin-bottom: 10px;
}

.content-label h5 {
    font-size: 20px;
    font-weight: bold;
    color:rgba(31, 73, 98, 0.746)
}

.form-input {
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.3);
    padding: 5px 15px;
    font-size: 14px;
}

.form-input:focus,
.form-input textarea:focus {
    outline: none;
}

.form-input-full {
    width: 100%;
}

/* #14676C sea green */
/* #1F7C67 sea green light */
/* #3F9A5B sea green lightest */
/* #B3C8BF sea green grey */
/* #1F4962 midnight blue */