<div #disabledFeature class="disabled-feature-container">
  <div class="disabled-feature-card">
    <div class="disabled-feature-header disabled-feature-card-panel-header-hidden">
      <div>
        <button class="preset-button" id="show-preset-button" (click)="showDisabledFeaturePanel()">
          <i class="fa fa-plus-square-o"></i>
        </button>
      </div>
    </div>
    <div class="preset-card-panel preset-card-panel-hidden">
      <div [formGroup]="getForm()" class="content-group disabled-feature-panel">
          <div class="table-container disabled-feature-table-container"
            formArrayName="disabledFeatures"
            *ngIf="disabledFeaturesFormArray().length > 0">
          <div class="table-row header">
            <div class="wrapper text-4 text-4-row">
              <div class="wrapper text-2 columns-container">
                <div class="text">Key</div>
                <div class="text">Value(s)</div>
              </div>
            </div>
          </div>
          <div
            class="table-row"
            *ngFor="let disabledFeature of disabledFeaturesFormArray().controls; let disabledFeatureIndex=index"
            [formGroupName]="disabledFeatureIndex">
            <div class="text">
              <app-combobox
                [maxElements]="1"
                [comboIndex]="'disabledFeatureIndex'"
                formControlName="disabledKey">
              </app-combobox>
            </div>
            <div class="text value-row">
              <app-combobox
                class="text-value"
                [comboIndex]="'disabledFeatureIndex'"
                formControlName="disabledVal">
              </app-combobox>
              <button class="text-button"
                type="button" (click)="removeDisabledFeature(disabledFeatureIndex)">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
   </div>
  </div>
<button
  class="preset-button add-button add-disabled-feature-button"
  type="button" (click)="addDisabledFeature()">
  <i class="fa fa-plus"></i> Add Disabled Feature
</button>
</div>
